---
export const prerender = false;

import AppLayout from '../../../layouts/AppLayout.astro';
import Navbar from '../../../components/layout/Navbar.astro';
import Footer from '../../../components/layout/Footer.astro';
import SkeletonPerson from '../../../components/skeleton/SkeletonPerson.astro'; 
import SeiyuuContent from '../../../components/content/SeiyuuContent.astro';

const { id } = Astro.params;
---

<AppLayout>
  <Navbar />
  
  <main class="container mx-auto px-4 lg:px-8 py-4 md:py-6 min-h-screen">
    
    <SeiyuuContent server:defer id={id as string}>
      
      <div slot="fallback" class="w-full">
        <SkeletonPerson />
      </div>

    </SeiyuuContent>

  </main>

  <Footer />
</AppLayout>