---
export const prerender = false;

import AppLayout from '../../layouts/AppLayout.astro';
import Navbar from '../../components/layout/Navbar.astro';
import Footer from '../../components/layout/Footer.astro';
import { Icon } from 'astro-icon/components';
import SkeletonRankingItem from '../../components/skeleton/SkeletonRankingItem.astro';
import DonghuaRankingList from '../../components/content/donghua/DonghuaRankingList.astro';

const searchParams = Astro.url.searchParams;
const page = parseInt(searchParams.get('page') || '1', 10);

const basePath = Astro.url.pathname;
const baseSearch = Astro.url.search;

const variables: any = {
  page: page,
  perPage: 50, 
  sort: 'SCORE_DESC',
  type: 'ANIME', 
  countryOfOrigin: 'CN',  
  search: searchParams.get('search') || undefined,
  genre: searchParams.get('genre') || undefined,
  season: searchParams.get('season') || undefined,
  seasonYear: searchParams.get('year') ? parseInt(searchParams.get('year')!) : undefined,
  format: searchParams.get('format') || undefined,
};
---

<AppLayout>
  <Navbar />

  <main class="container mx-auto px-4 lg:px-8 md:pb-6 mb-20 min-h-[50vh]">
    <a href="/donghua"
      class="inline-flex items-center gap-2 px-4 py-2 mb-6 text-sm font-medium text-slate-600 dark:text-slate-300 bg-white dark:bg-slate-800/80 hover:bg-slate-50 dark:hover:bg-slate-700 border border-slate-200 dark:border-slate-700/50 rounded-full transition-all duration-300 w-fit group shadow-sm cursor-pointer"
    >
      <Icon name="lucide:arrow-left" class="w-4 h-4 group-hover:-translate-x-1 transition-transform duration-300" />
      Back
    </a>
    
    <div class="mb-8">
      <h1 class="text-3xl font-bold text-slate-900 dark:text-white flex items-center gap-3">
        <span class="w-1.5 h-8 bg-yellow-500 rounded-full"></span>
        Top 100 Donghua
      </h1>
      <p class="text-slate-500 dark:text-slate-400 mt-2 ml-4.5">Highest rated donghua of all time.</p>
    </div>

    <DonghuaRankingList 
      server:defer 
      variables={variables} 
      basePath={basePath} 
      baseSearch={baseSearch}
    >
      
      <div slot="fallback" class="flex flex-col gap-2 w-full">
        {Array.from({ length: 25 }).map(() => <SkeletonRankingItem />)}
      </div>

    </DonghuaRankingList>
  </main>

  <Footer />
</AppLayout>

<script>
  const initSkeleton = () => {
    const skeleton = document.getElementById('skeleton-view');
    const realContent = document.getElementById('real-content-view');
    
    if (skeleton && realContent) {
      setTimeout(() => {
        skeleton.style.display = 'none';
        realContent.classList.remove('hidden');
        realContent.classList.add('flex');
        
        setTimeout(() => {
          realContent.classList.remove('opacity-0');
        }, 50);
        
      }, 2000);
    }
  };

  initSkeleton();
</script>