---
export const prerender = false; 

import AppLayout from '../../../layouts/AppLayout.astro';
import Navbar from '../../../components/layout/Navbar.astro';
import Footer from '../../../components/layout/Footer.astro';
import SkeletonDetail from '../../../components/skeleton/SkeletonDetail.astro';
import ManhuaDetailContent from '../../../components/content/manhua/ManhuaDetailContent.astro';

const { id } = Astro.params;
---

<AppLayout title="Manhua Details">
  <Navbar />
  
  <main class="w-full flex flex-col min-h-screen">
    
    <ManhuaDetailContent server:defer id={id as string}>
      
      <div slot="fallback" class="w-full">
        <SkeletonDetail />
      </div>

    </ManhuaDetailContent>

  </main>

  <Footer />
</AppLayout>