---
import '../styles/global.css';
import '@fontsource/inter';
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mirai Nime | Anime Platform</title>
    
    <script is:inline>
      const getTheme = () => {
        if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
          return localStorage.getItem('theme');
        }
        return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
      };
      
      const setTheme = () => {
        if (getTheme() === 'dark') {
          document.documentElement.classList.add('dark');
        } else {
          document.documentElement.classList.remove('dark');
        }
      };

      setTheme();
    </script>
  </head>
  <body class="bg-light-bg text-slate-800 dark:bg-dark-bg dark:text-slate-200 antialiased selection:bg-primary-500 selection:text-white min-h-screen flex flex-col">
    <slot />
  </body>
</html>